<footer>
        <section class="pie-pagina">
            <h2> Redes Sociales</h2>
            <div class="imagen">
                <a href="https://www.instagram.com/maylin_ch_?igsh=bjZlazhxZW9iOTAx/"><img src="public/facebook.png" height="50px" width="50px"></a>
                <a href="https://www.instagram.com/"><img src="public/instagram.png" height="50px" width="50px"></a>
                
            </div>
        </section>
    </footer>